<template>
    <div id="root-element">

      <!-- logado: {{logado}}
      <button @click="logar">logar</button> -->

      <button>Confirmar  <b>presença</b></button>

    </div> <!-- root element -->
</template>

<script>
import { mapGetters } from 'vuex'

import {
  QLayout,
  QToolbar,
  QToolbarTitle
} from 'quasar'

export default {
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle
  },
  data () {
    return {}
  },
  methods: {
    logar () {
      if (this.logado === true) {
        this.$store.commit('updatedLogged', false)
      }
      else {
        this.$store.commit('updatedLogged', true)
      }
    }
  },
  computed: {
    ...mapGetters({
      logado: 'isLogged'
    })
  }
}
</script>

<style scoped>

  #root-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: #f1c40f;
    color: #222;
    font-size: 27px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
  }

  button b{
    display: block;
  }

</style>
