<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">

      <header id="header">
        <h1 id="titulo">Sistema SAFL</h1>
      </header>

      <router-view />

      <footer id="footer">
        <img src="statics/afl.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <img src="statics/athos.png">     
      </footer>
  </div>
</template>

<script>

var wifi = cordova.plugins.wifiinfo
wifi.getInfo(function success (info) {
  alert(`Você esta conectado no wifi: ${info.connection.ssid}`) // ipad-of-user.local.
})

import {
  QLayout,
  QToolbar,
  QToolbarTitle
} from 'quasar'

export default {
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle
  }
}
</script>

<style>
  * {margin: 0 !important; padding: 0; box-sizing: border-box;}
  body, html {height: 100%}
  img {display: inline-block;}

  #q-app {
    min-height: 100%;
    position: relative;
    width: 100%;
  }
  #header, #footer {
    align-items: center;
    background-color: #021b79;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 2
  }
  #header {
    
  }
  #footer {
    bottom: 0px;
  }
  #titulo {
    color: #fff;
    font-size: 25px;
    text-shadow: 0px 0px 2px #000;
    text-transform: uppercase;
  }
  #root-element {
    background: url(statics/templo.jpg);
    background-size: 100% 100%;
    position: absolute;
    height: calc(100% - 200px);
    top: 100px;
    width: 100%;
  }
  #root-element > * {z-index: 2}
  body::before {
    content: "";
    height: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(26,35,126,1) 1%, rgba(36,38,146,1) 35%, rgba(55,45,182,0) 99%, rgba(55,45,183,0) 100%);
    background: -webkit-linear-gradient(top, rgba(26,35,126,1) 1%,rgba(36,38,146,1) 35%,rgba(55,45,182,0) 99%,rgba(55,45,183,0) 100%);
    background: linear-gradient(to bottom, rgba(26,35,126,1) 1%,rgba(36,38,146,1) 35%,rgba(55,45,182,0) 99%,rgba(55,45,183,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a237e', endColorstr='#00372db7',GradientType=0 );
  }
</style>
